<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582810045429-r4l50dd2bh5dbaffgn30gu04k2n79e7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582810045429-r4l50dd2bh5dbaffgn30gu04k2n79e7f</string>
	<key>API_KEY</key>
	<string>AIzaSyAaU1tT3kFS4ri4mAYXW4f--XlGeXdG8lc</string>
	<key>GCM_SENDER_ID</key>
	<string>582810045429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramResponsiveApp</string>
	<key>PROJECT_ID</key>
	<string>instagram-responsive-app</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-responsive-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582810045429:ios:7b91a348f92d7c03ffeebc</string>
</dict>
</plist>